@charset "UTF-8";
/* 公共样式 */
html, body {
  height: 100%;
}

body {
  padding: 45px 0px;
}

img {
  display: block;
  width: 100%;
}

/* 封装重置ul的样式 */
/* 头部 */
header {
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  padding: 5px 10px;
}

/* 主体 */
.pyg-views {
  height: 100%;
  overflow: scroll;
}

/* 底部 */
footer {
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5px 0;
  border-top: 1px solid #ccc;
}

footer a {
  color: #000000;
  display: block;
  text-align: center;
}

footer a div {
  font-size: 12px;
}

footer a .fa {
  font-size: 20px;
}

/* 正在等待的样式 */
.loadding::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .5;
  content: "";
  z-index: 100;
}

.loadding::after {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 60px;
  content: "\f110";
  z-index: 101;
  -webkit-animation: fa-spin 1s infinite linear;
          animation: fa-spin 1s infinite linear;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-left: -30px;
}

/* 选中按钮的颜色 */
.mui-text-primary {
  color: #007aff;
}

/* 重置body */
body {
  padding: 90px 0 45px 0;
}

/* 头部 */
.good-list-header {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 12px;
}

.good-list-header .fa-refresh {
  display: block;
  width: 20px;
  line-height: 45px;
}

.good-list-header .search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 3px 6px;
}

.good-list-header .search input {
  background: #fff;
}

.good-list-header .btn-search {
  display: block;
  width: 40px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
}

/* 导航栏 */
.good-list-nav {
  height: 45px;
  width: 100%;
  position: fixed;
  top: 45px;
  left: 0;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

/* 主体内容 */
.pyg-views .good-list-main {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pyg-views .good-list-main li {
  background: #fff;
  margin: 6px;
}

.pyg-views .good-list-main li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
}

.pyg-views .good-list-main li a .gl-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.pyg-views .good-list-main li a .gl-left img {
  width: 70%;
  margin: 0 auto;
}

.pyg-views .good-list-main li a .gl-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #8f8f94;
  position: relative;
}

.pyg-views .good-list-main li a .gl-right .gl-details {
  font-size: 12px;
}

.pyg-views .good-list-main li a .gl-right .gl-price {
  font-size: 14px;
  color: #ff0000;
}

.pyg-views .good-list-main li a .gl-right::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  position: absolute;
  top: 50%;
  right: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=good_list.css.map */