/* 导入公共样式 */
@import "_common.scss";

/* 主要内容 */
.pyg-views{
  /* 轮播图选择器重置样式 */
  .mui-slider{
    .mui-slider-indicator{
      /* 重置选择器样式 */
      .mui-indicator{
        background: transparent;
        width: 9px;
        height: 9px;
        border: 1px solid #ffffff;
      }
      .mui-active{
        background: #ffffff;
        box-shadow: 0 0 1px 4px rgba(255, 255, 255, .3);
      }
    }
  }
  /* 首页导航 */
  .pyg-nav{
    display: flex;
    a{
      flex: 1;
      padding: 12px;
      img{
        width: 90%;
      }
    }
  }
  /* 首页商品列表 */
  .commodity-list{
    /* 商品列表的主体 */
    .commodity-main{
      padding: 5px 10px;
      /* 商品标题 */
      .commodity-title{}
      /*商品内容  */
      .commodity-content{
        @include ul-reset();
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 5px;
        li{
          width: 49%;
          padding: 5px;
          background: #fff;
          margin-top: 5px;
          /* 商品详情 */
        .commodity-details{
          display: block;
          /* 商品描述 */
          .commodity-describe{
            font-size: 12px;
            color: #000000;
            height: 42px;
            overflow: hidden;
          }
          .commodity-price{
            font-size: 18px;
            color: red;
            height: 32px;
            line-height: 32px;
          }
        }
        /* 找相似 */
        .commodity-like{
            display: block;
            width: 120px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}